.projects-section-container {
  display: flex;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project-box {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  cursor: pointer;
  transition: var(--transition);
}

.project-image-container {
  display: flex;
  cursor: pointer;
  transition: var(--transition);
}

.project-box:hover .project-image-container{
  scale: 1.02;
}

.project-image-container img {
  width: 394px;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.44em;
  justify-content: space-around;
}

.project-info h3 {
  font-size: 1.74em;
}

.project-info p {
  font-size: 1.15em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.6em;
  width: 100%;
}

.project-techno-icons {
  font-size: 2em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  margin: 0.2em 0em;
}

.project-techno-icons img {
  filter: var(--icon-drop);
  width: 0.9em;
  transition: var(--transition);
}

.project-techno-icons img:hover {
  scale: 1.2;
}

.project-buttons {
  display: flex;
  gap: 1em;
}

.button-live {
  font-weight: 600;
  padding: 0.7em 1.4em;
  color: var(--dark1);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 0.4em;
  font-size: 1.1em;
  padding: 0.4em 1em;
  cursor: pointer;
  border-style: none;
  border-radius: 0.8em;
  
}

.button-live i {
  font-size: 1.4em;
}


.react:hover, .openai:hover{
  transition: all 1.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
  rotate: 360deg;
}

.breakingbad:hover{

  filter: drop-shadow(0 0 6px rgb(36, 152, 247e));
}