/* carousel */
@keyframes scroll {
  0% {
    transform: translateX(900px);
  }
  50% {
    transform: translateX(calc(-500px));
  }
  100% {
    transform: translateX(900px);
  }
}

.carousel {
  margin: 2em 0em;
  position: relative;
}

.slider {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark1);
  height: 140px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 50%;
  margin: -17em 0em;
  transition: var(--transition);
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    var(--dark1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 140px;
  position: absolute;
  width: 250px;
  z-index: 2;
  transition: var(--transition);
}

.slider::after {
  right: -50px;
  top: 0px;
  transform: rotateZ(180deg);
}

.slider::before {
  left: -50px;
  top: 0px;
}

.slide-track {
  animation: scroll 74s linear infinite;
  display: flex;
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2.4em;
  margin: 0px 4px;
  height: 100px;
  width: 250px;
}

.carrousel-image {
  cursor: pointer;
  width: 90px;
  transition: var(--transition);
}

.tech-slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2em;
}

.tech-slide-image p {
  transition: var(--transition);
  font-weight: 600;
}

.tech-desc {
  position: relative;
  top: 9em;
  text-align: center;
  transition: var(--transition2);
  font-size: 1.2em;
  white-space: nowrap;
}

.lightmode .slider {
  background-color: #fff5e0;
  background-color: transparent;
}

.lightmode .slider::before {
  background: linear-gradient(
    to right,
    #fff5e0 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: transparent;
}
.lightmode .slider::after {
  background: linear-gradient(
    to right,
    #fff5e0 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: transparent;
}

@media (max-width: 764px) {
  .tech-desc {
    top: 11.2em;
    width: 80%;
    font-size: 1em;
    margin: 0em auto;
  }

  .slider::before,
  .slider::after {
    width: 150px;
  }

  .carousel {
    margin-bottom: 0em;
  }
}
@media (max-width: 1040px) {
  .tech-desc {
    white-space: initial;
  }
  .carousel {
    margin: 1em 0em;
  }

  .more-projects-section {
    margin-top: 11em;
  }
}
