@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(228, 228, 228);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark1: #171717;
  --dark2: #343434;
  --primary: #ffe095;
  --transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  --transition2: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  --icon-drop: drop-shadow(2px 2px 1px rgba(100, 100, 100, 0.64));
  --gradient1: linear-gradient(to right, var(--dark1) -60%, #fff5e0 100%);
  --gradient2: linear-gradient(220.55deg, #ffc23d 0%, #eed59f 100%);
  --gradient3: linear-gradient(220.55deg, #ffd439 0%, #ff7a00 100%);
  --gradient4: linear-gradient(220.55deg, #e0ff87 0.01%, #8fb85b 100%);
  --gradient5: linear-gradient(220.55deg, #ff896d 0%, #d02020 100%);
  --gradient6: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  --gradient7: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

*::selection {
  background-color: #343434;
  color: #fff5e0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #171717;
}
a:hover {
  color: #171717;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: var(--transition);
  background-color: var(--dark1);
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.54em;
}
h4 {
  font-size: 1.1em;
}
p {
  color: rgb(204, 204, 204);
}

.appContainer {
  margin: 0px auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0em 8em 0em;
}

main {
  display: flex;
  flex-direction: column;
}

hr {
  opacity: 0.15;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark1);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark2);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
}

@media (max-width: 824px) {
  header {
    padding: 0em;
    margin: 0em;
  }

  nav {
    gap: 1.5em;
  }

  .nav-item {
    gap: 0.4em;
    font-size: 1.2em;
  }

  .projects-container {
    gap: 3em;
  }

  .more-projects-container {
    grid-template-columns: 1fr;
  }

  .appContainer {
    width: 92vw;
  }

  .profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 2em;
    margin: 1em 0em;
  }

  .profile-buttons {
    justify-content: center;
  }

  .project-box {
    flex-direction: column;
  }

  .project-info {
    gap: 1em;
  }

  .project-image-container {
    background-color: transparent;
    justify-content: left;
  }

  .project-image-container img {
    width: 100%;
    border: none;
  }

  .icons-buttons-container {
    flex-direction: row;
  }

  .socials-container {
    flex-direction: column;
    display: grid;
    align-items: center;
    text-align: center;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}

.lightmode {
  /* background-color: #fff5e0; */
  background: linear-gradient(220deg, #fff5e0 20%, #e9d8b4 100%);
  color: #171717;
}

.lightmode p {
  color: #212121;
}
.lightmode li {
  color: #424242;
}

.b {
  color: white;
}

.contactContainer {
  min-height: 1248px;
  /* display: flex;
  justify-content: center; */
}

.three-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 954px) {
  .socials-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.6em;
    margin-left: 0.2em;
    margin: 1em auto;
    justify-content: space-between;
    width: 90%;
  }
}
